.challenge {
  display: flex;
  align-items: flex-start;

  padding-bottom: 50px;

  position: relative;

  &__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    padding: 0 10px;

    position: relative;
  }

  &__controls {
    display: flex;
    flex: 0 0 275px;
    justify-content: center;

    width: 275px;

    padding: 50px 0;

    text-align: center;
  }

  &__audio-controls {
    text-align: center;

    margin-bottom: 10px;
  }

  &__stage-controls {
    text-align: center;

    min-height: 75px;

    margin-bottom: 10px;
  }

  &__clue-popup-control {
    display: flex;
    flex: 0 0 275px;
    justify-content: center;

    width: 275px;

    padding: 50px 0;
  }
}