.challenge {
  display: flex;
  flex-direction: column;

  position: relative;

  &__audio-controls {
    display: flex;
    justify-content: center;

    margin-bottom: 20px;
  }

  &__stage-controls {
    display: flex;
    justify-content: center;

    min-height: 75px;

    margin-bottom: 20px;
  }
}