.manage-challenges {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;

  position: relative;

  padding: 50px 0;

  &__notice {
    font-size: 22px;
  }
}