.answers {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 100%;

  margin-top: 50px;
  margin-bottom: 25px;

  &__items {
    display: flex;
    justify-content: center;

    margin-bottom: 15px;
  }

  &__item {
    position: relative;

    width: 50px;
    height: 50px;

    margin-right: 5px;

    border: 3px solid $secondary-color;
    border-radius: 50%;

    &--current {
      &:after {
        content: '';

        position: absolute;
        left: 50%;
        top: 50%;

        width: 20px;
        height: 20px;

        margin-left: -10px;
        margin-top: -10px;

        border-radius: 50%;

        background-color: $secondary-color;
      }
    }

    &--correct {
      border-color: #008000;

      background-color: #008000;
    }

    &--wrong {
      border-color: #b00000;

      background-color: #b00000;
    }
  }

  &__current-answer {
    display: inline-block;

    min-height: 35px;

    font-size: 22px;
    text-align: center;

    &--correct {
      color: #008000;
    }

    &--wrong {
      color: #b00000;
    }
  }
}