.btn {
  display: inline-block;
  vertical-align: top;

  min-width: 120px;

  margin-right: 10px;
  margin-bottom: 20px;
  padding: 10px 30px;

  border: 2px solid $secondary-color;
  border-radius: 5px;

  background: #fff;

  font-size: 22px;
  color: #000;
  text-decoration: none;

  transition: box-shadow ease-out .2s;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    
    box-shadow: 0 0 10px rgba(196, 164, 49, .8);

    color: $primary-color;
  }

  &--big {
    min-width: 130px;

    padding: 15px 30px;
  }

  &--small {
    min-width: 100px;

    padding: 10px 15px;

    font-size: 18px;
  }
}