.challenges-item {
  font-size: 18px;

  list-style: none;

  &__link {
    display: block;

    padding: 25px 10px;

    border-bottom: 1px solid $primary-color;

    box-shadow: none;

    color: $primary-color;

    transition: .2s ease-in all;

    &:hover {
      border-bottom: 1px solid $secondary-color;

      box-shadow: inset 0 -5px 4px -4px rgba(196, 164, 49, .8);

      padding-bottom: 30px;

      color: $secondary-color;
    }

    &:active {
      border-bottom-color: $primary-color;

      box-shadow: none;

      color: rgba(0, 0, 0, .6);

      transition: .1s ease-in all;
    }
  }

  &__stage {
    display: inline-block;

    width: 15%;
  }

  &__type {
    display: inline-block;

    width: 20%;
  }

  &__chords {
    display: inline-block;
    
    width: 65%;
  }
}