.challenge-recap-item {
  margin-bottom: 10px;
  padding: 0 50px;

  font-size: 18px;
  list-style: none;

  &__stage {
    display: inline-block;
    vertical-align: top;

    width: 20%;
  }

  &__chord {
    display: inline-block;
    vertical-align: top;
    
    width: 40%;
  }

  &__answer {
    display: inline-block;
    vertical-align: top;
    
    width: 40%;

    &--correct {
      color: #008000;
    }

    &--wrong {
      color: #b00000;
    }
  }
}