.clue-popup {
  position: absolute;
  left: 12px;
  top: 25px;

  padding: 25px 0;

  width: 250px;

  background: #fff;

  border: 2px solid $primary-color;
  border-radius: 10px;

  &__control {
    margin-bottom: 80px;

    text-align: center;
  }
}