.custom-challenge-form {
  position: relative;

  width: 90%;

  padding: 25px 50px;

  background: #fff;

  border: 2px solid $primary-color;

  text-align: center;


  &__header {
    margin: 0;
  }

  &__chords {
    display: flex;
    justify-content: center;

    margin: 0;
    margin-bottom: 25px;
    padding: 0;
  }

  &__notice-wrapper {
    min-height: 30px;

    margin-top: 10px;
  }

  &__notice {
    margin: 0;

    &--fail {
      color: #b00000;
    }

    &--success {
      color: #008000;
    }
  }

  &__btn-close {
    position: absolute;
    right: 25px;
    top: 25px;

    fill: $primary-color;

    cursor: pointer;

    &:hover {
      opacity: .5;
    } 

    &:active {
      opacity: .8;  
    }
  }
}