.custom-challenges-item {
  margin-bottom: 5px;
  padding: 10px;

  font-size: 18px;

  list-style: none;

  &__stage {
    display: inline-block;

    width: 15%;
  }

  &__type {
    display: inline-block;

    width: 20%;
  }

  &__chords {
    display: inline-block;
    
    width: 65%;
  }
}