.custom-challenges-item {
  position: relative;

  margin-bottom: 5px;
  padding: 10px;

  font-size: 18px;

  list-style: none;

  &__stage {
    display: inline-block;

    width: 15%;
  }

  &__type {
    display: inline-block;

    width: 20%;
  }

  &__chords {
    display: inline-block;

    padding-right: 40px;
    
    width: 65%;
  }

  &__btn-close {
    position: absolute;
    right: 12px;
    top: 12px;

    width: 20px;
    height: 20px;

    cursor: pointer;

    &:hover {
      opacity: .5;
    } 

    &:active {
      opacity: .8;  
    }
  }
}